/Assignment 1/CHSIDataProcessing/build/
/Assignment 1/CHSIDataProcessing/dist/
/Rec3/CSE216Rec/nbproject/private/
/Rec3/CSE216Rec/build/
/Rec3/CHSIDataProcessing/nbproject/private/
/Rec3/CHSIDataProcessing/build/
/Rec3/CHSIDataProcessing/dist/
/PopulationDataProcesing/nbproject/private/
/PopulationDataProcessing/nbproject/private/
/PopulationDataProcessing/build/
/PopulationDataProcessing2/nbproject/private/
/PopulationDataProcessing2/build/
/temp/nbproject/private/
/temp/build/